// Place all the styles related to the emails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
aside, section {height: 100vh;}

h1, h2
{
    color: var(--primary);
}

aside
{
    border-right: grey 2px solid;
    overflow: auto;
}

aside table, aside tr, aside td
{
    width: 100%;
}

aside th
{
    padding: 10px 0 40px 20px;
}

aside>table>tbody>tr>td
{
    margin: 0 20px;
    padding: 20px;
    border-bottom: 1px solid grey;
    width: 100%;
}

a, a:hover, a:focus, a:visited
{
    color: black;
}

.email_object
{
    text-align: center;
    color: var(--primary);
    margin-bottom: 50px;
}

.email_body
{
    height: 80vh;
    overflow: auto;
    margin: 20px;
}

.email_body + div
{
    text-align: center;
}

.unread
{
    background: var(--primary)
}