<tr <%= 'class=unread' unless email.read %> data-remote data-url="<%= email_path(email.id) %>" >
    <td><a
        href="<%= email_path(email.id) %>"      
        data-remote>
        <%= email.object %>
        </a>
    </td>
</tr>